@model IEnumerable<AAMS.Models.AttendanceSheet>

@{
    ViewBag.Title = "ListAttendanceSheet";
    Layout = "~/Views/Shared/_RegistrarLayout.cshtml";
}

<h2 class="text-center text-muted">LIST ATTENDANCE</h2>

<p>
    @Html.ActionLink("BACK", "ViewAttendanceSheets",null, new { @class="btn btn-info" })  
    @Html.ActionLink("ADD STUDENT", "AddStudentToAttendanceSheet", new { code = ViewBag.courseCode }, new { @class = "btn btn-info" })
    @*@Html.Label("Course Code: " + ViewBag.courseCode)
        @Html.Label("Course Name: " + ViewBag.courseName)
        @Html.Label("Section: " + ViewBag.section)*@
    <br/>
    <label>Course Code: @ViewBag.courseCode</label><br />
    <label>Course Name: @ViewBag.courseName</label><br />
    <label>Section: @ViewBag.section</label><br />
</p>
<table class="table  table-hover text-center  table-sm">
    <tr class="thead-light">
        <th >
            @Html.DisplayNameFor(model => model.Students.StudentCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Students.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Students.FatherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Students.GrandFatherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Students.Batch)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Section)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Students.StudentCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Students.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Students.FatherName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Students.GrandFatherName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Students.Batch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Section)
            </td>
            <td>
         
                <a href="@Url.Action("DeleteStudentAttendance", "AttendanceSheet",new { id = item.AttendanceSheetId })" class="">
                    <i class="far fa-trash-alt"></i>
                    <span>
                        <strong>Delete</strong>
                    </span>
                </a>
            </td>

        </tr>
    }

</table>
