@model IEnumerable<AAMS.Models.AttendanceSheet>
@*@model <AAMS.Models.Course>*@

@{
    ViewBag.Title = "ViewAttendanceSheets";
    Layout = "~/Views/Shared/_RegistrarLayout.cshtml";
}


<h2 class="text-center text-muted">ATTENDANCE LIST</h2>

<div class="text-right">
    <button class="btn btn-info">
        @Html.ActionLink("CREATE", "AddAttendanceSheet", "AttendanceSheet")
    </button>
</div>

<p>
    @*@Html.Label("Filter By Course")
        @Html.DropDownList()*@

</p>
<table class="table  table-hover text-center  table-sm">
    <tr class="thead-light">
        @*<th>
                @Html.DisplayNameFor(model => model.Students.StudentCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students.FatherName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students.GrandFatherName)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Courses.CourseCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Courses.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Section)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {


        //if (unique.IndexOf(item.CourseId) < 0)
        //    {
        <tr>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Students.StudentCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Students.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Students.FatherName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Students.GrandFatherName)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Courses.CourseCode)
                @*@item.Courses.CourseCode*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Courses.CourseName)
                @*@item.Courses.CourseName*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Section)
                @*@item.Section*@
            </td>
            <td>
    
                <a href="@Url.Action("ListAttendanceSheet", "AttendanceSheet",new { id = item.AttendanceSheetId })" class="">
                    <i class="far fa-eye"></i>
                    <span>
                        <strong>View</strong>
                    </span>
                </a>

                |
                <a href="@Url.Action("DeleteAttendanceSheet", "AttendanceSheet",new { id = item.AttendanceSheetId })" class="">
                    <i class="far fa-trash-alt"></i>
                    <span>
                        <strong>Delete</strong>
                    </span>
                </a>
            </td>
            @*@unique.Add(item.Courses.CourseId)*@
        </tr>

        //}
    }

</table>
