@model AAMS.Models.StudentData

@{
    ViewBag.Title = "DetailsStudent";
    Layout = "~/Views/Shared/_RegistrarLayout.cshtml";
}

<h2 class="text-center text-muted">STUDENT DETAIL</h2>
<div class="text-left">
    <button class="btn btn-default">
        @Html.ActionLink("<", "ViewStudents", "StudentData")
    </button>
 </div>
    <div>

        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.Label("STUDENT CODE", htmlAttributes: new { @class = " text-muted" }) :
                @Html.DisplayFor(model => model.StudentCode)
            </dt>
            <hr />

            <dt>
                @Html.Label("FIRST NAME", htmlAttributes: new { @class = " text-muted" }):
                @Html.DisplayFor(model => model.FirstName)
            </dt>
            <hr />


            <dt>
                @Html.Label("SECOND NAME", htmlAttributes: new { @class = " text-muted" }):
                @Html.DisplayFor(model => model.FatherName)
            </dt>
            <hr />

            <dt>
                @Html.Label("LAST NAME", htmlAttributes: new { @class = " text-muted" }):
                @Html.DisplayFor(model => model.GrandFatherName)
            </dt>
            <hr />

            <dt>
                @Html.Label("bATCH", htmlAttributes: new { @class = " text-muted" }):
                @Html.DisplayFor(model => model.Batch)
            </dt>
            <hr />
        </dl>
    </div>


    <div class="text-left">

        <button class="btn btn-info">
            @Html.ActionLink("Edit", "EditStudent", new { id = Model.StudentId })
        </button>
    </div>
