@model AAMS.Models.StudentData

@{
    ViewBag.Title = "DetailsStudent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DetailsStudent</h2>

<div>
    <h4>StudentData</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FatherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FatherName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GrandFatherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrandFatherName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Batch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Batch)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditStudent", new { id = Model.StudentId }) |
    @Html.ActionLink("Back to List", "ViewStudents")
</p>
