<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>AAMS</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="~/Content/boxDesign.css">
    <link rel="stylesheet" href="~/Content/xentos.css">
    <script src="https://kit.fontawesome.com/99f24c3ec3.js" crossorigin="anonymous"></script>

</head>

<body>
    <div class="wrapper center">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header center">
                <h2>AAMS</h2>
                <h6>HiLCoE</h6>
            </div>

            <ul class="list-unstyled components">
                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">@Html.ActionLink("Home", "Index", "Lecturer")</li>
                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "ViewAttendances" ? "active" : "")">@Html.ActionLink("View Attendance", "ViewAttendances", "Lecturer")</li>
            </ul>
        </nav>
     
        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">


                    <button type="button" class="btn btn-info">
                        <a href="@Url.Action("Logout","Home")">Logout</a>
                    </button>



                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">

                            <li class="nav-item">
                                <a>@Session["FirstName"].ToString()</a>
                            </li>
                            <!--
                    <li class="nav-item">
                        <a href="@Url.Action("Logout","Home")">Logout</a>
                    </li>-->
                        </ul>
                    </div>

                </div>
            </nav>


            @RenderBody()
            <!--
    <div class="row">
        <div class="column">1</div>
        <div class="column">2</div>
        <div class="column">3</div>
        <div class="column">4</div>
    </div>


    <div class="row">
        <div class="column">1</div>
        <div class="column">2</div>
        <div class="column">3</div>
        <div class="column">4</div>
    </div>

    <div class="wrapper">
        <div class="one">One</div>
        <div class="two">Two</div>
        <div class="three">Three</div>
        <div class="four">Four</div>
        <div class="five">Five</div>
        <div class="six">Six</div>
    </div>

    <div class="wrapper fadeInDown">
        <div id="formContent">
            <div>Title</div>
            <div>Course</div>
            <div>Semester</div>
            <div>Section</div>
        </div>
    </div>

    <div class="wrapper fadeInDown">
        <div id="formContent">
            <div>Title</div>
            <div>Course</div>
            <div>Semester</div>
            <div>Section</div>
        </div>
    </div>-->


        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>