<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>AAMS</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    @*@Styles.Render("~/Content/css")*@
    <link rel="stylesheet" href="~/Content/xentos.css">
    <script src="https://kit.fontawesome.com/99f24c3ec3.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="wrapper center">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header center">
                <h2 class="text-center">AAMS</h2>
                <h6 class="text-center">HiLCoE</h6>
            </div>

            @{string actionName = @ViewContext.RouteData.Values["Action"].ToString(); }
            @{string controllerName = ViewContext.RouteData.Values["Controller"].ToString();}

            @{System.Diagnostics.Debug.WriteLine(actionName, controllerName);}


            <ul class="list-unstyled components">
                <li class="@(actionName== "Index" && @controllerName=="Registrar" ? "active" : "" )">
                    @Html.ActionLink("Dashboard", "Index", "Registrar")
                </li>

                <li class="@(actionName== "ViewStudents" && @controllerName=="StudentData" ? "active" : "" )">
                    @Html.ActionLink("Students", "ViewStudents", "StudentData")
                </li>
                <li class="@(actionName== "ViewCourses" && @controllerName=="Course" ? "active" : "" )">
                    @Html.ActionLink("Courses", "ViewCourses", "Course")
                </li>

                <li class="@(actionName== "ViewAttendanceSheets" && @controllerName=="AttendanceSheet" ? "active" : "" )">
                    @Html.ActionLink("Attendance", "ViewAttendanceSheets", "AttendanceSheet")
                </li>
            </ul>
        </nav>


        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <h5 class="text-muted">@Session["FirstName"].ToString()</h5>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">


                            <li class="nav-item">
                                <button type="button" class="btn btn-info ">
                                    <a href="@Url.Action("Logout","Home")">Logout</a>
                                </button>

                            </li>
                        </ul>
                    </div>

                </div>
            </nav>


            @RenderBody()
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>

</html>