<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>AAMS</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="~/Content/xentos.css">
    <script src="https://kit.fontawesome.com/99f24c3ec3.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="wrapper center">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header center">
                <h2>AAMS</h2>
                <h6>HiLCoE</h6>
            </div>

            <ul class="list-unstyled components">
                <li class="active nav-item">
                    @Html.ActionLink("Dashboard", "Index", "Student", null, new { @class = "nav-link" })
                </li>
                <li>
                    @Html.ActionLink("Attendance Reports", "viewattendance", "Student", null, new { @class = "nav-link" })
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">


                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <a href="@Url.Action("Logout","Home")">Logout</a>
                    </button>


                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">

                            <li class="nav-item">
                                <a>@Session["FirstName"].ToString()</a>
                            </li>
                            <!--
                        <li class="nav-item">
                            <a href="@Url.Action("Logout","Home")">Logout</a>
                        </li>-->
                        </ul>
                    </div>

                </div>
            </nav>
            @RenderBody()
        </div>


        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
        <!-- jQuery CDN - Slim version (=without AJAX) -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <!-- Popper.JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <!-- Bootstrap JS -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

</body>

</html>