@model IEnumerable<AAMS.Models.AttendanceData>

@{
    ViewBag.Title = "EditAttendance";
    Layout = "~/Views/Shared/_LecturerLayout.cshtml";
}

<h2 class="text-center text-muted">EDIT ATTENDANCE DATA</h2>
<div class="text-left">
    <button class="btn btn-default">
        @Html.ActionLink("<", "ViewAttendances", "Lecturer")
    </button>
</div>
<label class="text-center text-muted">Course Code : @Model.First().AttendanceSheets.Courses.CourseCode</label>
<br />
<label class="text-center text-muted">Course Name : @Model.First().AttendanceSheets.Courses.CourseName</label>
<br />
<label class="text-center text-muted">Section : @Model.First().AttendanceSheets.Section</label>
<br />

@using (Html.BeginForm())
    {
        <div class="form-group">
            @Html.DropDownList("filter", new SelectList(ViewBag.Dates, "Date", "Date"))
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="FILTER" class="btn btn-info" />
            </div>
        </div>
    }
@*@Html.DropDownList("filter", new SelectList(ViewBag.Dates, "Date", "Date"))
@Html.ActionLink("Filter", "FilterAttendance", new { id = Model.First().AttendanceSheetId })*@

<hr />
<table class="table table-hover text-center  table-sm">
    <tr class="thead-light">
        <th>
            @Html.DisplayNameFor(model => model.AttendanceSheets.Students.StudentCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AttendanceSheets.Students.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AttendanceSheets.Students.FatherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AttendanceSheets.Students.GrandFatherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AttendanceSheets.Students.Batch)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AttendanceSheets.Students.StudentCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttendanceSheets.Students.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttendanceSheets.Students.FatherName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttendanceSheets.Students.GrandFatherName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttendanceSheets.Students.Batch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                <a href="@Url.Action("EditAttendanceData", "Lecturer",new { id = item.AttendanceDataID })" class="">
                    <i class="far fa-edit"></i>
                    <span>
                        <strong>Edit</strong>
                    </span>
                </a>

                |
                <a href="@Url.Action("DeleteAttendance", "Lecturer",new { id = item.AttendanceDataID })" class="">
                    <i class="far fa-trash-alt"></i>
                    <span>
                        <strong>Delete</strong>
                    </span>
                </a>

            </td>
        </tr>
    }

</table>
