@model IEnumerable<AAMS.Models.AttendanceData>


@{
    ViewBag.Title = "MarkAttendance";
    Layout = "~/Views/Shared/_LecturerLayout.cshtml";
}

<h2 class="text-center text-muted">MARK ATTENDANCE DATA</h2>
<div class="text-left">
    <button class="btn btn-default">
        @Html.ActionLink("<  ", "ViewAttendances", "Lecturer")
    </button>
</div>

<label class="text-center text-muted">Course Code : @Model.First().AttendanceSheets.Courses.CourseCode</label>
<br />
<label class="text-center text-muted">Course Name : @Model.First().AttendanceSheets.Courses.CourseName</label>
<br />
<label class="text-center text-muted">Section : @Model.First().AttendanceSheets.Section</label>
<br />

<table class="table  table-hover text-center  table-sm">
    <tr class="thead-light">
        <th>
            @Html.DisplayNameFor(model => model.AttendanceSheets.Students.StudentCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AttendanceSheets.Students.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AttendanceSheets.Students.FatherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AttendanceSheets.Students.GrandFatherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AttendanceSheets.Students.Batch)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)

        </th>
        <th>
            Out of Five(5%)

        </th>
        <th>
            Out of Ten(10%)

        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AttendanceSheets.Students.StudentCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttendanceSheets.Students.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttendanceSheets.Students.FatherName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttendanceSheets.Students.GrandFatherName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttendanceSheets.Students.Batch)
            </td>
            <td>
                @ViewBag.Percent[0]%
                @{
                    ViewBag.Percent.RemoveAt(0);
                }
            </td>
            <td>
                @ViewBag.OutOfFive[0]%
                @{
                    ViewBag.OutOfFive.RemoveAt(0);
                }
            </td>
            <td>
                @ViewBag.OutOfTen[0]%
                @{
                    ViewBag.OutOfTen.RemoveAt(0);
                }
            </td>
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.AttendanceDataID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.AttendanceDataID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.AttendanceDataID })
                </td>*@
        </tr>
    }

</table>
