@model IEnumerable<AAMS.Models.AttendanceData>
@using System.Linq;
@using System.Data.Entity;

@{
    ViewBag.Title = "TakeAttendance";
    Layout = "~/Views/Shared/_LecturerLayout.cshtml";
    Page.MaintainScrollPositionOnPostBack = true;
}

<h2 class="text-center text-muted">TAKE ATTENDANCE</h2>
<label class="text-center text-muted">Course Code : @Model.First().AttendanceSheets.Courses.CourseCode</label>
<br />
<label class="text-center text-muted">Course Name : @Model.First().AttendanceSheets.Courses.CourseName</label>
<br />
<label class="text-center text-muted">Section : @Model.First().AttendanceSheets.Section</label>
<br />
<label class="text-center text-muted">Date : @Model.First().Date</label>
<br />

<div class="text-right">
    <button class="btn btn-info">
        @Html.ActionLink("SAVE", "ViewAttendances", "lecturer")
    </button>

    @*<button class="btn btn-info">
            @Html.ActionLink("CREATE", "CreateAttendance", "lecturer")
        </button>*@
</div>

<hr />

<table class="table table-hover text-center  table-sm">
    <tr class="thead-light">
        <th>
            @Html.DisplayNameFor(model => model.AttendanceSheets.Students.StudentCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AttendanceSheets.Students.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AttendanceSheets.Students.FatherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AttendanceSheets.Students.GrandFatherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AttendanceSheets.Students.Batch)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Date)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AttendanceSheets.Students.StudentCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttendanceSheets.Students.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttendanceSheets.Students.FatherName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttendanceSheets.Students.GrandFatherName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttendanceSheets.Students.Batch)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.ActionLink("Present", "Present", new { id = item.AttendanceDataID }) |
                @Html.ActionLink("Absent", "Absent", new { id = item.AttendanceDataID }) |
                @Html.ActionLink("Permission", "Permission", new { id = item.AttendanceDataID })
            </td>
        </tr>
    }


</table>
