@model IEnumerable<AAMS.Models.AttendanceSheet>

@{
    ViewBag.Title = "ViewAttendances";
    Layout = "~/Views/Shared/_LecturerLayout.cshtml";
}


<table class="table table-hover   text-center ">
    <tr>
        @*<th>
                @Html.DisplayNameFor(model => model.StudentId)
            </th>*@
        <th scope="col">
            @Html.DisplayNameFor(model => model.Courses.CourseCode)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Courses.CourseName)
        </th scope="col">
        <th>
            @Html.DisplayNameFor(model => model.Section)
        </th scope="col">
        <th scope="col"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr >
            @*<td>
                    @Html.DisplayFor(modelItem => item.StudentId)
                </td>*@
            <td scope="row">
                @Html.DisplayFor(modelItem => item.Courses.CourseCode)
            </td>
            <td scope="row">
                @Html.DisplayFor(modelItem => item.Courses.CourseName)
            </td>
            <td scope="row">
                @Html.DisplayFor(modelItem => item.Section)
            </td>
            <td>

                <a href="@Url.Action("ViewStudents", "Lecturer",new { id = item.AttendanceSheetId })" class="">
                    <i class="far fa-eye"></i>
                    <span>
                        <strong>View</strong>
                    </span>
                </a>
                |
                <a href="@Url.Action("EditAttendance", "Lecturer",new { id = item.AttendanceSheetId })" class="">
                    <i class="far fa-edit"></i>
                    <span>
                        <strong>Edit</strong>
                    </span>
                </a>
                |
                <a href="@Url.Action("MarkAttendance", "Lecturer",new { id = item.AttendanceSheetId })" class="">
                    <i class="far fa-check-square"></i>
                    <span>
                        <strong>Mark</strong>
                    </span>
                </a>

         
            </td>
        </tr>
    }

</table>
