@model IEnumerable<AAMS.Models.AttendanceSheet>

@{
    ViewBag.Title = "ViewStudents";
    Layout = "~/Views/Shared/_LecturerLayout.cshtml";
}

<h2 class="text-center text-muted">View Students</h2>

<label class="text-center text-muted">Course Code : @Model.First().Courses.CourseCode</label><br />
<label class="text-center text-muted">Course Name : @Model.First().Courses.CourseName</label><br />
<label class="text-center text-muted">Section : @Model.First().Section</label><br />

<div class="text-right">
    <button class="btn btn-info">
        @Html.ActionLink("TAKE ATTENDANCE", "CreateAttendance", new { id=Model.First().AttendanceSheetId })
    </button>
</div>

<hr />


<table class="table  table-hover text-center  table-sm">
    <tr class="thead-light">
        <th>
            @Html.DisplayNameFor(model => model.Students.StudentCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Students.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Students.FatherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Students.GrandFatherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Students.Batch)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.CourseId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Section)
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Students.StudentCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Students.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Students.FatherName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Students.GrandFatherName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Students.Batch)
            </td>
            <td>
             
                <a href="@Url.Action("ViewStatus", "Lecturer",new { id = item.AttendanceSheetId })" class="">
                    <i class="far fa-eye"></i>
                    <span>
                        <strong>View</strong>
                    </span>
                </a>
            </td>
        </tr>
    }

</table>
