@model AAMS.Models.Course

@{
    ViewBag.Title = "DetailsCourse";
    Layout = "~/Views/Shared/_RegistrarLayout.cshtml";
}

<h2 class="text-center text-muted">DetailsCourse</h2>

<div class="text-left">
    <button class="btn btn-default">
        @Html.ActionLink("<", "ViewCourses", "Course")
    </button>
</div>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CourseCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseCode)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseName)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.Semester)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Semester)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.AssignedLecturerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignedLecturerId)
        </dd>
        <hr />
    </dl>
</div>


<div class="text-left">
    <button class="btn btn-info">
        @Html.ActionLink("EDIT", "EditCourse", new { id = Model.CourseId })
    </button>
</div>


