@using AAMS.Models
@model IEnumerable<AAMS.Models.Course>

@{
    ViewBag.Title = "ViewCourses";
    Layout = "~/Views/Shared/_RegistrarLayout.cshtml";
}

      
<h2 class="text-center text-muted">COURSES</h2>

<div class="text-right">
    <button class="btn btn-info">
        @Html.ActionLink("ADD COURSE", "AddCourse", "Course")
    </button>
</div>
<hr />
<table class="table  table-hover text-center  table-sm">
    <tr class="thead-light">
        <th>
            @Html.DisplayNameFor(model => model.CourseCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Semester)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssignedLecturerId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semester)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @*@{
                        ApplicationDbContext _context = new ApplicationDbContext();
                        var lecturer = _context.Users.Where(l => l.ID == item.AssignedLecturerId).FirstOrDefault();
                        Html.Display(lecturer.FirstName);
                    }*@
                @Html.DisplayFor(modelItem => item.AssignedLecturerId)
            </td>

            <td>

                <a href="@Url.Action("EditCourse", "Course",new { id = item.CourseId })" class="">
                    <i class="far fa-edit"></i>
                    <span>
                        <strong>Edit</strong>
                    </span>
                </a>

                |
                <a href="@Url.Action("DetailsCourse", "Course",new { id = item.CourseId })" class="">
                    <i class="far fa-eye"></i>
                    <span>
                        <strong>Details</strong>
                    </span>
                </a>

                |
                <a href="@Url.Action("DeleteCourse", "Course",new { id = item.CourseId })" class="">
                    <i class="far fa-trash-alt"></i>
                    <span>
                        <strong>Delete</strong>
                    </span>
                </a>
           
            </td>
        </tr>
    }

</table>
