@model IEnumerable<AAMS.Models.AttendanceData>

@{
    ViewBag.Title = "ViewStudentAttendances";
    Layout = "~/Views/Shared/StudentLayout.cshtml";
}
<br />
<h2 class="text-center text-muted">ATTENDANCE RESULTS</h2>
<br />
<hr />  
<table class="table table-hover text-center  table-sm">
    <tr class="thead-light">
        <th>
            @Html.DisplayNameFor(model => model.AttendanceSheets.Courses.CourseCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AttendanceSheets.Courses.CourseName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr >
            <td>
                @Html.DisplayFor(modelItem => item.AttendanceSheets.Courses.CourseCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttendanceSheets.Courses.CourseName)
            </td>
            <td>
                <a href="@Url.Action("DetailsStudentAttendance", "Student",new { id = item.AttendanceDataID })" class="">
                    <i class="far fa-eye"></i>
                    <span>
                        <strong>Details</strong>
                    </span>
                </a>
              
            </td>
        </tr>


    }

</table>
